<table align="center" border="4" bgcolor="orange">
    <thead>
    <tr>
        <th>logo</th>
        <th>Team Name</th>
        <th>state</th>
    </tr>
    </thead>
    <tbody>
    {% for teams in display %}

    <tr>
        <td><img src="/{{ teams.2}}" height="50" width="50"></td>
        <td><a href="/cricketapp/{{teams.0}}/players_details/">{{teams.1}}</a></td>
        <td>{{teams.3}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

          <a href="/cricketapp/addplayer/">Add Players Details</a>